@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap");

body {
  background: linear-gradient(to right, yellow, blue);
  //background: blue;
}
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}

.cabecalho-img {
  height: 75px;
}
.cabecalho-menu {
  display: flex;
  gap: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.cabecalho-anchor {
  color: white;
}

.cabecalho-anchor:hover {
  color: yellow;
}

.content {
  padding-top: 48px;
  margin-bottom: 48px;
  border-top: 1px solid #fff2e7;
}

.content-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 48px;
}

.content-main-described {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.content-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: rgb(22, 32, 25);
}

.content-img {
  height: 250px;
}

.content-secundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  border-top: 1px solid #fff2e7;
  gap: 35px;
}

.content-secundary-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 32px;
}

.content-secundary-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: color: rgb(22, 32, 25);
}

.rodape {
  border-top: 1px solid #fff2e7;
  padding-top: 48px;
  display: flex;
  justify-content: center;
}

.rodape-img {
  height: 75px;
}
